
.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
    
.card {
  background-color: hsl(257.42deg 65.96% 81.57%);
  padding: 10px;
 border-radius: 5px;
}
.category-title{
  
  font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.imagen{
  width: 100%;
  object-fit: cover;
  height: 50%;
  display: flex;
}
.category-title{
  text-align: center;
}