.products-container{
    display: flex;
    background-color: #EAEBFF;
    justify-content: center;
   align-items: flex-start;
   align-self: center;
   padding-top: 10%;
   gap: 10px;
   flex-wrap: wrap; /* Esto permite que las tarjetas se muevan a la siguiente línea */
   

   
    
}