.products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* crea dos columnas con el mismo tamaño */
    gap: 14px; /* opcional: añade un espacio entre las columnas */
  
    background-color: #EAEBFF;
    justify-content: center;
   align-items: flex-start;
   align-self: center;
   padding-top: 10%;
   gap: 10px;
   flex-wrap: wrap; /* Esto permite que las tarjetas se muevan a la siguiente línea */
   

   
    
}